html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  max-width: 900px;
  padding: 1rem;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
}

section {
  margin-bottom: 1rem;
}

ul {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}

li {
  grid-column: span 1;
}

li a {
  font-weight: bold;
}

dl {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 33% auto;
}

dt {
  font-weight: bold;
  grid-column: 1;
}

dd {
  grid-column: 2;
}

.numbers {
  columns: 8rem auto;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre;
}
